// @import "@penpot/plugin-styles/styles.css";

/* Reset
--------------------------*/
.theme-dark {
	color-scheme: dark;
	--background-primary: var(--db-primary);
	--background-secondary: var(--db-secondary);
	--background-tertiary: var(--db-tertiary);
	--background-quaternary: var(--db-quaternary);
	--foreground-primary: var(--df-primary);
	--foreground-secondary: var(--df-secondary);
	--foreground-tertiary: var(--df-tertiary);
	--accent-primary: var(--da-primary);
	--accent-primary-muted: var(--da-primary-muted);
	--accent-secondary: var(--da-secondary);
	--accent-tertiary: var(--da-tertiary);
	--accent-quaternary: var(--da-quaternary)
}

.theme-light {
	color-scheme: light;
	--background-primary: var(--lb-primary);
	--background-secondary: var(--lb-secondary);
	--background-tertiary: var(--lb-tertiary);
	--background-quaternary: var(--lb-quaternary);
	--foreground-primary: var(--lf-primary);
	--foreground-secondary: var(--lf-secondary);
	--foreground-tertiary: var(--lf-tertiary);
	--accent-primary: var(--la-primary);
	--accent-primary-muted: var(--la-primary-muted);
	--accent-secondary: var(--la-secondary);
	--accent-tertiary: var(--la-tertiary);
	--accent-quaternary: var(--la-quaternary)
}

::-webkit-scrollbar {
	width: 5px
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px transparent;
	border-radius: var(--spacing-8)
}

::-webkit-scrollbar-thumb {
	border-radius: var(--spacing-8);
	-webkit-box-shadow: inset 0 0 6px #aab5ba
}

:root {
    // colors
	--db-primary: #18181a;
	--db-secondary: #000000;
	--db-tertiary: #212426;
	--db-quaternary: #2e3434;
	--lb-primary: #ffffff;
	--lb-secondary: #e8eaee;
	--lb-tertiary: #f3f4f6;
	--lb-quaternary: #eef0f2;
	--df-primary: #ffffff;
	--df-secondary: #8f9da3;
	--df-tertiary: #585c61;
	--lf-primary: #000000;
	--lf-secondary: #495e74;
	--lf-tertiary: #8f9da3;
	--da-primary: #7EFFF5;
	--da-primary-muted: #426158;
	--da-secondary: #BB97D8;
	--da-tertiary: #00D1B8;
	--da-quaternary: #ff6fe0;
	--la-primary: #6911d4;
	--la-primary-muted: #e1d2f5;
	--la-secondary: #1345aa;
	--la-tertiary: #8c33eb;
	--la-quaternary: #ff6fe0;
	--success-50: #f0f8ff;
	--success-500: #2d9f8f;
	--success-950: #0a2927;
	--warning-50: #fff4ed;
	--warning-500: #fe4811;
	--warning-950: #440806;
	--error-50: #fff0f3;
	--error-200: #ffcada;
	--error-500: #ff3277;
	--error-700: #c80857;
	--error-950: #500124;
	--info-50: #f0f8ff;
	--info-500: #0e9be9;
	--info-950: #082c49;
	--app-white: #ffffff;
	--app-black: #000000;
	--app-pink: #f49ef7;
	--app-blue: #75cafc;
	--app-gold: #fdcd79;
	--app-indigo: #a9bdfa;
	--app-red: #faa6b7;
	--app-yellow: #dee563;
	--app-purple: #cbaaff;
	--app-lemon: #b1e96f;
	--app-orange: #f9b489;

    // spacing
    --spacing-4: .25rem;
	--spacing-8: calc(var(--spacing-4) * 2);
	--spacing-12: calc(var(--spacing-4) * 3);
	--spacing-16: calc(var(--spacing-4) * 4);
	--spacing-20: calc(var(--spacing-4) * 5);
	--spacing-24: calc(var(--spacing-4) * 6);
	--spacing-28: calc(var(--spacing-4) * 7);
	--spacing-32: calc(var(--spacing-4) * 8);
	--spacing-36: calc(var(--spacing-4) * 9);
	--spacing-40: calc(var(--spacing-4) * 10);

    // fonts
    --font-weight-regular: 400;
	--font-weight-bold: 500;
	--font-line-height-s: 1.2;
	--font-line-height-m: 1.4;
	--font-line-height-l: 1.5;
	--font-size-xs: 10px;
	--font-size-s: 12px;
	--font-size-m: 14px;
	--font-size-l: 16px
}

// mdc overrides
html {
    --mdc-checkbox-disabled-selected-icon-color: transparent;
    --mdc-checkbox-disabled-unselected-icon-color: transparent;
    --mdc-checkbox-selected-checkmark-color: transparent;
    --mdc-checkbox-selected-focus-icon-color: transparent;
    --mdc-checkbox-selected-hover-icon-color: transparent;
    --mdc-checkbox-selected-icon-color: transparent;
    --mdc-checkbox-selected-pressed-icon-color: transparent;
    --mdc-checkbox-unselected-focus-icon-color: transparent;
    --mdc-checkbox-unselected-hover-icon-color: transparent;
    --mdc-checkbox-unselected-icon-color: transparent;
    --mdc-checkbox-unselected-pressed-icon-color: transparent;
    --mdc-checkbox-selected-focus-state-layer-color: transparent;
    --mdc-checkbox-selected-hover-state-layer-color: transparent;
    --mdc-checkbox-selected-pressed-state-layer-color: transparent;
    --mdc-checkbox-unselected-focus-state-layer-color: transparent;
    --mdc-checkbox-unselected-hover-state-layer-color: transparent;
    --mdc-checkbox-unselected-pressed-state-layer-color: transparent;
    --mat-checkbox-disabled-label-color: transparent;    
}
//var(--accent-primary)


/* Global styles
--------------------------*/
html {
    font-family: Work Sans, sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
}
html, body {
    margin:0;
    padding:0;
    height: 100%;
    overflow: hidden;
    /* Following lines could prevent elastic scrolling in mobile Safari,
     * but deteriorates performances a lot:  * /
    width:100%;
    position: fixed;
    */
}

body,
h1,
h2,
h3,
h4,
h5,
p,
pre {
	margin: 0
}

*,
:before,
:after {
	box-sizing: border-box;
	border-width: 0;
	border-style: solid
}

::-webkit-scrollbar {
	width: 5px
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px transparent;
	border-radius: var(--spacing-8)
}

::-webkit-scrollbar-thumb {
	border-radius: var(--spacing-8);
	-webkit-box-shadow: inset 0 0 6px #aab5ba
}

/* OLD scrollbar styles
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    background-color: #393939;
}
::-webkit-scrollbar-thumb {
    background-color: #565656;
    border-radius: 3px;
    border: 0px solid #393939;
}
::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}
::-webkit-scrollbar-corner {
    background-color:transparent;
}
*/


/* Left column
--------------------------*/
body .left-column-wrapper .left-column {
    background-color: var(--background-primary);
	color: var(--foreground-secondary);
	padding-right: var(--spacing-8);
    scrollbar-width: inherit;
    height: 100%;
}

/* Inputs
--------------------------*/
.theme-dark {
	input.app-input,
    textarea.app-input {
		background-color: var(--db-tertiary);
		border-color: var(--db-tertiary);
		color: var(--df-primary);

		&:focus {
			border-color: var(--da-primary)
		}

		&:hover {
			background-color: var(--db-quaternary);
			border-color: var(--db-quaternary)
		}

		&:focus {
			background-color: var(--db-primary);
			border-color: var(--da-primary)
		}

		&:disabled {
			background-color: var(--db-primary);
			border-color: var(--db-quaternary);
			cursor: not-allowed
		}

		&::placeholder {
			color: var(--df-secondary)
		}

		&.success {
			background-color: var(--db-primary);
			border-color: var(--da-tertiary)
		}

		&.error {
			background-color: var(--db-primary)
		}
	}
}
.theme-light {
	input.app-input,
    textarea.app-input {
		background-color: var(--lb-tertiary);
		border-color: var(--lb-tertiary);
		color: var(--lf-primary);

		&:focus {
			background-color: var(--lb-secondary);
			border-color: var(--la-primary)
		}

		&:hover {
			background-color: var(--lb-quaternary);
			border-color: var(--lb-quaternary)
		}

		&:focus {
			background-color: var(--lb-primary);
			border-color: var(--la-primary)
		}

		&:disabled {
			background-color: var(--lb-primary);
			border-color: var(--lb-quaternary);
			cursor: not-allowed
		}

		&::placeholder {
			color: var(--lf-secondary)
		}

		&.success {
			background-color: var(--lb-primary);
			border-color: var(--la-tertiary)
		}

		&.error {
			background-color: var(--lb-primary)
		}
	}
}
input.app-input,
textarea.app-input {
	display: flex;
	border: 1px solid;
	border-radius: var(--spacing-8);
	font-size: var(--font-size-s);
	font-weight: var(--font-weight-regular);
	line-height: var(--font-line-height-m);
	outline: none;
	padding-block: var(--spacing-8);
	padding-inline: var(--spacing-8);

	&.error {
		border-color: var(--error-500)
	}
}

/* Checkboxes
--------------------------*/
.mdc-checkbox__native-control {
    opacity: 1 !important;
}

body .mdc-form-field {
    color: var(--foreground-secondary);
}




/* Buttons
--------------------------*/
body .left-column button.mat-flat-button,
body .mat-mdc-raised-button:not(:disabled) {
    background-color: var(--background-tertiary);
    color: var(--foreground-secondary);
    box-shadow: none;
    
    &:hover:not(:disabled) {
        background-color: var(--background-quaternary);
        color: var(--accent-primary)
    }

    &:focus:not(:disabled),
    &:focus-visible:not(:disabled) {
        background-color: var(--background-tertiary);
        border: 2px solid var(--accent-primary);
        color: var(--foreground-secondary)
    }

    &:active:not(:disabled) {
        background-color: var(--background-tertiary);
        color: var(--accent-primary);
        outline: 2px solid var(--background-quaternary)
    }

    &:disabled {
        background-color: transparent;
        border: 2px solid var(--background-quaternary)
    }
}
body .left-column-close.mat-mdc-raised-button:not(:disabled),
body .left-column-open.mat-mdc-raised-button:not(:disabled) {
    background-color: var(--background-primary);
    border: 1px solid var(--background-quaternary);
    border-radius: 0 8px 8px 0;
}
body .left-column-close.mat-mdc-raised-button {
    right: -30px;
}

html body .left-column .mat-mdc-mini-fab.mat-primary,
html body .left-column .mat-mdc-mini-fab.mat-accent {
    box-shadow: none;
}
html body .left-column .mat-mdc-mini-fab.mat-primary {
    background-color: var(--background-tertiary);
    color: var(--foreground-secondary);
    border: 1px solid var(--background-quaternary);
    &:hover{
        background-color: var(--background-secondary);
        color: var(--accent-primary);
    }
}
html body .left-column .mat-mdc-mini-fab.mat-accent {
    background-color: var(--accent-primary);
    color: var(--background-primary);
}

/* Expandables
--------------------------*/

body .left-column div.title {
    color: var(--foreground-secondary);
    border-top: 1px solid var(--background-quaternary);
    background-color: transparent;
    padding: var(--spacing-8) 0;
}


/* Mini buttons
--------------------------*/
button.mat-flat-button {
    padding:0 8px !important;
    height:32px !important;
    line-height: 32px;
    min-width: auto !important;
    .mat-icon {
        margin:0;
        width: 20px;
        height: 20px;
        font-size: 20px;
    }
}
button.mat-mini-fab .mat-button-wrapper {
    line-height: 20px;
}


/* Rows
--------------------------*/
.row {
    --mdc-checkbox-state-layer-size:20px;
    .mat-mdc-checkbox {
        margin:0;
    }
    .mat-mdc-checkbox-touch-target {
        width: 20px;
        height: 20px;
    }

    display: flex;
    align-items: center;
    padding-left:2px;
    padding-right:2px;
    >* {
        margin-top: 1px;
        margin-bottom: 1px;
    }
    >button.mat-flat-button {
        margin:2px !important;
    }
    .small-checkbox label.mat-checkbox-layout {
        display:flex !important;
    }
}


/* app::deep */
button.mat-mdc-icon-button.more-button {
    --mdc-icon-button-state-layer-size:20px;
    width:20px;
    height:20px;
    margin:0;
    padding:0;
    line-height: 20px !important;
    mat-icon {
        width: 12px;
        height: 12px;
        line-height: 12px !important;
        display: block;
        margin: auto;
    }
    svg {
        width: 12px;
        height: 12px;
        display: block;
    }
    .mat-mdc-button-touch-target {
        width:20px;
        height:20px;
    }
}

/* app */
.input-block {
    margin:2px;
    position: relative;

    >label {
        position: absolute;
        color:#c8c8c8;
        font-size:8px;
        padding:4px 4px 4px 4px;
        top:0;
        left:0;
        right:15px;
    }
    >input, >textarea {
        height:32px;
        width:100%;
    }
    >input {
        padding-top:12px;
    }
    >textarea {
        padding-top:17px;
        resize: vertical; 
    }
    >label.opaque {
        display: none;
    }
    &.disabled {
        opacity: 0.5;
    }
    &.disabled>input {
        border-color: transparent;
    }
    &:focus-within>label {
        color: #2196f3;
    }
    &.has-error>input, &.has-error>textarea {
        border-color:#f44336;
    }
    &.has-error:focus-within>label {
        color:#f44336;
    }
}


/* global */
.app-tooltip {
    margin-top:-8px;
}

/* ::deep */
.dialog .mat-mdc-dialog-container {
    --mdc-dialog-container-color:  #252526 !important;
}
.mat-mdc-menu-panel {
    max-width: 320px  !important;
}
.mat-mdc-form-field.mat-focused .mat-mdc-form-field-focus-overlay {
    opacity: 0.08;
}

/*Panels*/
body .left-column .panel div.hovered {
    background: var(--background-quaternary);
}
body .left-column .panel div.dragged {
    background: var(--accent-primary-muted);
}

body .left-column .type-token {
    background: var(--accent-secondary);
    color: var(--background-primary);
}
body .left-column .type-token-relative {
    background: var(--accent-tertiary);
    color: var(--background-primary);
}

/*Menus*/
body .mat-mdc-menu-panel {
    background-color: #18181a;
	color: #8f9da3;
    font-family: Work Sans, sans-serif;
}

/*SVG playground
--------------------------*/

// Button primary
html body .mat-mdc-mini-fab.mat-accent {
    --mdc-fab-small-container-color: var(--accent-primary);
    --mat-fab-small-foreground-color: var(--background-primary);
    --mat-fab-small-state-layer-color: var(--background-primary);
    --mat-fab-small-ripple-color: rgba(255, 255, 255, 0.1);
}
// Button secondary
html body .mat-mdc-mini-fab.mat-primary {
    --mdc-fab-small-container-color: var(--background-primary);
    --mat-fab-small-foreground-color: var(--foreground-secondary);
    --mat-fab-small-state-layer-color: var(--foreground-secondary);
    --mat-fab-small-ripple-color: rgba(255, 255, 255, 0.1);
    box-shadow: none;
    border: 1px solid var(--background-quaternary);
    &:hover {
        background-color: var(--background-secondary);
        color: var(--accent-primary);
    }
}
// Buttons disabled
html body .mat-mdc-mini-fab.mat-mdc-button-disabled {
    background-color: var(--background-tertiary);
    color: var(--foreground-tertiary);
}

/* GitHub reference
--------------------------*/
.gh-ref {
    position: absolute;
    bottom: 8px;
    left: 8px;
    .mat-icon {
        fill: var(--foreground-tertiary);
        width: 32px;
        height: 32px;
    }
    :hover .mat-icon {
        fill: var(--accent-primary);
    }
}

/* Header
--------------------------*/
.inner >.header {
    // cant get there?
}
/* canvas.component.css overrides
--------------------------*/
html body .drawings > svg {
    background-color: var(--background-tertiary);
}
html body svg path.ng-star-inserted {
    stroke:var(--foreground-primary);
}
html body svg path.filled.ng-star-inserted {
    fill: var(--accent-primary);
    opacity: 0.2;
}
html body svg path.hovered.ng-star-inserted {
    stroke: var(--accent-quaternary);
}
html body svg path.dragged.ng-star-inserted {
    stroke: var(--accent-primary);
}
html body svg line.grid.ng-star-inserted {
    stroke: var(--background-secondary);
}
html body svg line.grid.tick.ng-star-inserted {
    stroke: var(--accent-tertiary);
}
html body svg line.control.ng-star-inserted {
    stroke:var(--foreground-tertiary);
}
html body svg line.hovered.ng-star-inserted {
    stroke:var(--accent-quaternary);
}
html body svg circle.control.ng-star-inserted {
    fill:var(--foreground-tertiary); // lines, put secondary for more contrast
}
html body svg circle.target.ng-star-inserted {
    fill:var(--foreground-primary);
}
html body svg circle.hovered.ng-star-inserted {
    fill:var(--accent-quaternary);
}
html body svg circle.dragged.ng-star-inserted {
    fill:var(--accent-primary);
}
html body .drawings > .preview {
    background-color:var(--background-tertiary);
}
html body .drawings > .preview  path {
    stroke:var(--background-secondary);
}
html body .drawings > .preview  path.filled {
    fill:var(--background-secondary);
}
html body .drawings > .preview  path.hovered {
    stroke: var(--accent-quaternary);
}
html body svg text.tick.ng-star-inserted {
    fill: var(--background-tertiary);
}
html body svg rect.image-control.ng-star-inserted {
    fill: var(--background-secondary);
}
html body svg line.image-control.ng-star-inserted {
    stroke:var(--background-quaternary);
}
html body svg circle.image-control.ng-star-inserted {
    fill:var(--background-quaternary);
}
html body svg .focused-image line.image-control.ng-star-inserted {
    stroke:var(--accent-primary);
}
html body svg .focused-image circle.image-control.ng-star-inserted {
    fill:var(--accent-primary);
}